<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleSidenav.emit()"
  >
    <mat-icon aria-label="Side nav toggle icon">
      {{ isOpen() ? "menu_open" : "menu" }}
    </mat-icon>
  </button>

  <span>{{ pageTitle() }}</span>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item disabled>
    {{ currentUserEmail }}
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
