<h2 mat-dialog-title>{{ data.id ? "Edit User" : "Add User" }}</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="userForm.invalid"
    >
      {{ data.id ? "Update" : "Create" }}
    </button>
  </mat-dialog-actions>
</form>
