<h2 mat-dialog-title>{{ data.id ? "Edit User" : "Add User" }}</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" />
      @if (userForm.get('first_name')?.errors?.['required']) {
      <mat-error> First name is required </mat-error>
      }@if (userForm.get('first_name')?.errors?.['whitespace']) {
      <mat-error>First name cannot be empty or contain only spaces. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" />
      @if (userForm.get('last_name')?.errors?.['required']) {
      <mat-error> Last name is required </mat-error>
      }@if (userForm.get('last_name')?.errors?.['whitespace']) {
      <mat-error>Last name cannot be empty or contain only spaces. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (userForm.get('email')?.errors?.['required']) {
      <mat-error> Email is required </mat-error>
      } @if (userForm.get('email')?.errors?.['email']) {
      <mat-error> Please enter a valid email </mat-error>
      } @if (userForm.get('email')?.errors?.['whitespace']) {
      <mat-error>Email cannot be empty or contain only spaces. </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="userForm.invalid"
    >
      {{ data.id ? "Update" : "Create" }}
    </button>
  </mat-dialog-actions>
</form>
