<div class="persons-container">
  <div class="actions-bar">
    <h2>Persons Management</h2>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [ngModel]="searchTerm()"
        placeholder="Search by email, first name, or last name"
      />
    </mat-form-field>
  </div>

  <table
    mat-table
    [dataSource]="displayedPersons()"
    matSort
    (matSortChange)="sortData($event)"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let person">{{ person.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let person">{{ person.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let person">{{ person.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let person">{{ person.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let person">
        <a [href]="person.website" target="_blank">{{ person.website }}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="filteredPersons().length"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
