.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;

  mat-toolbar {
    background: inherit;
    font-weight: 500;
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 1rem;
  min-height: calc(100vh - 64px);
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }
}
