<app-loader />

@if (authService.isLoggedIn()) {
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    opened="true"
  >
    <mat-toolbar>{{ authService.currentUserValue?.email }}</mat-toolbar>
    <app-nav-bar></app-nav-bar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header
      [pageTitle]="pageTitle()"
      (toggleSidenav)="drawer.toggle()"
      [isOpen]="drawer.opened"
    >
    </app-header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
} @else {
<router-outlet></router-outlet>
}
