/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;

  table {
    min-width: 800px;
    width: 100%;

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      padding: 0 16px;
      word-break: break-word;
      white-space: normal;
    }

    .mat-column-email {
      max-width: 200px;
    }

    .mat-column-first_name,
    .mat-column-last_name {
      max-width: 150px;
    }

    .mat-column-actions {
      max-width: 100px;
      white-space: nowrap;
    }

    .mat-column-email .cell-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
